.btn.btn-sm.icon {
  padding-top: 0px;
  padding-bottom: 10px;
}

span.btn.btn-sm.icon {
  margin-top: 1px;
}

#techstack-content {
  display: table-cell;
  width: 100%;
  vertical-align: top;
  padding: 0rem;
}

.techstack-table-title {
  margin-top: 10px;
  display: inline-block;
}

.techstack-table-thead {
  background-color: #5ce1e6;
  border-color: #5ce1e6;
  font-weight: 600 !important;
}

.techstack-sorting-icon {
  color: #fff;
}

.techstack-search.show {
  background-color: #5ce1e6 !important;
}

#new-techstack-pop {
  position: absolute;
  right: 0;
}

.techstack-col-auto {
  /* flex: 0 5 auto; */
  width: 360px;
  max-width: 100%;
  margin-right: 20px !important;
}

.techstack-createnew {
  margin-top: 52px !important;
}

.techstack-cancel-btn {
  margin-left: 140px !important;
}
