.pageview-table-thead {
  background-color: #5ce1e6;
  border-color: #5ce1e6;
  font-weight: 600 !important;
}

.pageview-icon {
  color: #fff;
}

.pageview-search.show{
  background-color: #5ce1e6 !important;
}

.pageview-column-pagename {
  width: 130px !important;
}

.pageview-column-pageurl {
  width: 120px !important;
}

.pageview-column-views {
  width: 95px !important;
}

.pageview-column-datemodified {
  width: 150px !important;
}


